.content {
    background: #fff;
    display: flex;
    padding: 0 10px 0 35px;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    position: absolute;
    top: 82px;
    bottom: 0;
    right: 0;
    left: 0;
    // margin-top: 100px;

    .ant-input-affix-wrapper {
        position: absolute;
        margin: 0 auto;
        left: -13px;
        top: 5px;
        width: 90%;
        height: 35px;
    }
}
.content .left {
    width: 160px;
    // height: 600px;
    border-right: solid 1px #e8e8e8;
    padding-top: 20px;
    // position: relative;
    .article-edit-box {
        position: absolute;
        bottom: 20px;
        right: 40px;
        z-index: 100;
        i {
            font-size: 30px;
        }
    }
}
.content .left ul .td {
    border-bottom: solid 1px #e8e8e8;
    .td-ul {
        position: relative;
        padding-top: 30px;
    }
}
.content .left ul .td li:nth-child(1) input {
    font-size: 12px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    // border: solid 1px #cccccc;
}
.content .left ul .td li {
    color: #555555;
    font-size: 16px;
}
.content .left ul .td li:nth-of-type(n + 2) {
    margin-top: 20px;
}
.content .left ul .td li:last-child {
    margin-bottom: 20px;
}
.content .left ul .td li.active {
    color: #3ea3ff;
}
.content .left ul .td li:hover {
    color: #3ea3ff;
    cursor: pointer;
}
.content .left ul .bd {
    padding-top: 20px;
    .active {
        color: #3ea3ff;
    }
}
.content .left ul .bd li {
    margin-bottom: 10px;
    color: #555555;
    font-size: 15px;
}
.content .left ul .bd li:hover {
    color: #3ea3ff;
    cursor: pointer;
}
.content .right {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    // height: 600px;
    padding: 20px;
}
.content .right ul {
    display: flex;
    flex-wrap: wrap;
}

.content .right ul li {
    width: 360px;
    height: 360px;
    flex: auto;
    margin: 0 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: content-box;
    // overflow: hidden;
    // border: solid 1px #e5e5e5;
}

.article-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 5px;
}

.author {
    color: #dcdcdc;
    font-size: 12px;
    padding: 10px;
}

.tag {
    display: inline-block;
    height: auto;
    border: 1px solid #ecebeb;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
}

.content .right ul li .hd {
    flex: 2;
    background: #e5e5e5;
    position: relative;
    overflow: hidden;
}
.content .right ul li .hd img {
    width: 100%;
    position: absolute;
}
.content .right ul li .td {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content .right ul li .td > div:nth-child(1) {
    flex: 1;
    padding: 18px 0 0 18px;
    border-top: solid 1px #f4f4f4;
}
.content .right ul li .td > div:nth-child(1) h3 {
    // font-weight: normal;
    color: #666666;
    font-size: 16px;
    padding-right: 18px;
}
.content .right ul li .td > div:nth-child(2) {
    height: 50px;
    border-top: solid 1px #f4f4f4;
    display: flex;
}
.content .right ul li .td > div:nth-child(2) > span {
    flex: 1;
    line-height: 50px;
    padding-left: 15px;
    font-size: 12px;
    color: #666666;
}
.content .right ul li .td > div:nth-child(2) > div {
    display: flex;
    align-items: center;
}
.content .right ul li .td > div:nth-child(2) > div button {
    height: 28px;
    width: 60px;
    outline: none;
    border: none;
    margin-right: 15px;
    font-size: 12px;
}

.article-item {
    position: relative;
    z-index: 3;
    // border: 1px solid #d8d2d2;
    cursor: pointer;
}

.article-item_hot {
    border-radius: 3px;
    transition: all 0.6s ease-in;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        right: 0;
        height: 2.5px;
        width: 0;
        background: #028da9;
    }
    &:after {
        content: '';
        position: absolute;
        height: 2.5px;
        width: 0;
        background: #028da9;
        transition: 400ms ease all;
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }
    &:hover {
        &:before,
        &:after {
            width: 100%;
            transition: 800ms ease all;
        }
    }
}

.img-box {
    .img-back {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        .article-date {
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: #b3b3b3;
        }
    }
}
.content .right ul li .td > div:nth-child(2) > div .gray-btn {
    background: #333333;
    color: #fff;
    border: solid 1px #333333;
}
.content .right ul li .td > div:nth-child(2) > div .gray-btn:hover {
    background: #000000;
    border: solid 1px #000000;
}
.content .right ul li .td > div:nth-child(2) > div .white-btn {
    border: solid 1px #e5e5e5;
    background: #ffffff;
    color: #333333;
}
.content .right ul li .td > div:nth-child(2) > div .white-btn:hover {
    border: solid 1px #aaaaaa;
}
.content .right ul > li:hover {
    box-shadow: 0 0px 7px rgba(150, 150, 150, 0.3);
}
.not-data {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 180px;
        color: #a7a7a7;
    }
}
