{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {},
          "modules": false,
          "debug": false,
          "include": [],
          "exclude": [],
          "useBuiltIns": "usage",
          "corejs": {
            "version": 3,
            "proposals": true
          },
          "forceAllTransforms": false,
          "shippedProposals": true
        }
      ],
      "@babel/preset-typescript",
      [
        "@babel/preset-react",
        {
            // "pragma": "dom", // default pragma is React.createElement
            // "pragmaFrag": "DomFrag", // default is React.Fragment
            // "throwIfNamespace": false // defaults to true
        }
      ]
    ],
    "plugins": [ // Plugins run before Presets. ordering is first to last.Preset ordering is reversed (last to first).
      "@babel/plugin-transform-modules-commonjs",
      ["@babel/plugin-proposal-decorators", {
        "legacy": true
      }],
      "@babel/plugin-proposal-export-default-from",
      "@babel/plugin-proposal-class-properties",
      // [
      //   "import",
      //   {
      //     "libraryName": "lodash"
      //   }
      // ],
      [
        "@babel/plugin-transform-runtime",
        {
          "corejs": false,
          "helpers": true,
          "regenerator": true,
          "useESModules": false
        }
      ],
      [
        "react-hot-loader/babel"
      ]
    ]
  }
