.xdb-home-center {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    .home-center_desk {
        height: 100%;
        width: 100%;
        background-color: #fff;
        display: block;
        position: relative;
        padding: 0;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        position: relative;
        transform: translate3d(0px, 0%, 0px);
        transition: all 1000ms ease 0s;
    }

    .bottom-header {
        li {
            a {
                color: #fff;
            }
        }
        .toggle-btn {
            .icon-bar {
                background-color: #fff;
            }
            &.active {
                .icon-bar {
                    &:nth-child(1) {
                        top: 9px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:nth-child(3) {
                        top: -5px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
