.xdb-home_sereen1 {
    width: 100%;
    height: 100%;
    background: url('http://39.108.184.64/image/74702172029990191571974897679.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    .xdb-home_tip {
        position: absolute;
        top: 30vh;
        left: 11vw;
        width: 720px;
        height: 100px;
        font-size: 27px;
        color: #fff;
        .warther_box {
            position: absolute;
            z-index: 2;
            left: 30px;
            top: -39px;
            font-size: 22px;
        }
        .home-tip_top {
            margin-bottom: 25px;
        }
        .home-tip_bottom {
            line-height: 1.5;
            padding-left: 40px;
        }
        .tip-cursor {
            display: inline-block;
            width: 10px;
            height: 4px;
            background: #fff;
            vertical-align: bottom;
            margin: 0 0 9px 0px;
        }
        .tip-opacity {
            opacity: 0;
        }
        .warther_box_text {
            position: absolute;
            z-index: 3;
            letter-spacing: 6px;
        }
    }
}
